In [17]:
import pickle
import os
import sys
import numpy as np
sys.path.append(os.path.abspath(os.path.join(os.path.dirname('hpc_scripts'), '..')))
from experiments.hpc_scripts.config_search import model_config

with open(r'full_experiment_grid_search.p', 'rb') as pickle_file:
    grid = pickle.load(pickle_file)

In [2]:
grid

                RMSE
config ID
0          15.445782
1          15.451538
2          15.511531

In [13]:
# add sst_flag and polar_flag to df

model_filepath = '../model_configuration_ids.p'
vals = grid.index.map(lambda id: model_config(id,model_filepath=model_filepath)[3:5]).values
grid[['sst_flag','polar_flag']] = np.array([val for val in vals])

In [29]:
grid

                RMSE  sst_flag  polar_flag
config ID
0          15.445782     False       False
1          15.451538     False        True
2          15.511531      True       False

In [45]:
# identify the top parameters for each combination of (SST_flag, polar_flag)
# sst flag: False, polar_flag: False
grid_sst_false_polar_false = grid.query('not sst_flag and not polar_flag')[['RMSE']]
# sst flag: False, polar_flag: True
grid_sst_false_polar_true = grid.query('not sst_flag and polar_flag')[['RMSE']]
# sst flag: True, polar_flag: False
grid_sst_true_polar_false = grid.query('sst_flag and not polar_flag')[['RMSE']]
# sst flag: True, polar_flag: True
grid_sst_true_polar_true = grid.query('sst_flag and polar_flag')[['RMSE']]

In [46]:
grid_sst_false_polar_true

                RMSE
config ID
1          15.451538