In [4]:
import pickle

In [13]:
with open('error_metric_values.p', 'rb') as filehandler:
    err_metric_values = pickle.load(filehandler)

In [15]:
err_metric_values.drop(err_metric_values.index[[3*jj+1 for jj in range(5)]])

,SST: True | Polar: False,SST: False | Polar: False,SST: True | Polar: True,SST: False | Polar: True
RMSE,14.54 ± 0.05,14.78 ± 0.05,14.53 ± 0.05,14.75 ± 0.05
RMSE 95 percent ci,"(14.45, 14.63)","(14.69, 14.88)","(14.44, 14.62)","(14.66, 14.84)"
MAE,9.84 ± 0.03,9.96 ± 0.03,9.86 ± 0.03,9.96 ± 0.03
MAE 95 percent ci,"(9.78, 9.9)","(9.9, 10.02)","(9.8, 9.92)","(9.9, 10.02)"
MAAO,40.08 ± 0.07,40.49 ± 0.07,40.12 ± 0.07,40.49 ± 0.07
MAAO 95 percent ci,"(39.94, 40.22)","(40.34, 40.63)","(39.97, 40.26)","(40.35, 40.63)"
MAPE,439.77 ± 8.83,442.71 ± 9.03,441.26 ± 8.81,449.98 ± 9.38
MAPE 95 percent ci,"(422.25, 457.29)","(424.8, 460.63)","(423.78, 458.75)","(431.37, 468.6)"
RMSLE,0.22 ± 0.00,0.23 ± 0.00,0.22 ± 0.00,0.23 ± 0.00
RMSLE 95 percent ci,"(0.22, 0.22)","(0.22, 0.23)","(0.22, 0.22)","(0.22, 0.23)"

In [16]:
with open('goodness_of_fit_metric_values.p', 'rb') as filehandler:
    goodness_of_fit_values = pickle.load(filehandler)

In [18]:
goodness_of_fit_values.drop(goodness_of_fit_values.index[[2*jj+1 for jj in range(3)]])

,SST: True | Polar: False,SST: False | Polar: False,SST: True | Polar: True,SST: False | Polar: True
NLL,-1.46 ± 0.01,-1.44 ± 0.01,-1.46 ± 0.01,-1.43 ± 0.01
PR area,2252 ± 11,2396 ± 13,2262 ± 12,2390 ± 13
PR coverage,0.86 ± 0.00,0.86 ± 0.00,0.86 ± 0.00,0.86 ± 0.00

In [21]:
names = ['SST: True | Polar: False','SST: False | Polar: False','SST: True | Polar: True','SST: False | Polar: True']
with open('model_0_feature_importances_values.p', 'rb') as filehandler:
    model_0_fi = pickle.load(filehandler)

In [23]:
model_0_fi = model_0_fi.style.set_caption(f"{names[0]}")
model_0_fi

In [24]:
with open('model_1_feature_importances_values.p', 'rb') as filehandler:
    model_1_fi = pickle.load(filehandler)
model_1_fi = model_1_fi.style.set_caption(f"{names[1]}")
model_1_fi

In [25]:
with open('model_2_feature_importances_values.p', 'rb') as filehandler:
    model_2_fi = pickle.load(filehandler)
model_2_fi = model_2_fi.style.set_caption(f"{names[2]}")
model_2_fi

In [26]:
with open('model_3_feature_importances_values.p', 'rb') as filehandler:
    model_3_fi = pickle.load(filehandler)
model_3_fi = model_3_fi.style.set_caption(f"{names[3]}")
model_3_fi